
        header, footer {
            height: 100px;
            background: #CCC;
            width: 80%;
            margin: 0 auto;
        }
        footer {
                position: absolute;
    bottom: 0px;
    left: 10%;
}
        #container {
            position: relative;
        }